* {
    margin: 0;
    font-family: 'Press Start 2P', cursive;
    color: white;
}

.parent {
    position: relative;
    background-color: black;
}

.score {
    position: absolute;
    margin-top: 10px;
    margin-left: 10px;
    font-size: 14px;
    user-select: none;
}

.startBox {
    background: rgb(10, 10, 10);
    width: 900px;
    height: 600px;
    position: absolute;
    top: 20%;
    left: 50%;
    margin: 0 0 0 0;
    border: 4px solid #8A2BE2;
    border-radius: 10px;
    transform: translateX(-450px);
}
.kb-emphasize{
    background-color: #EFEAD8;
    color: black;
    border: 2px solid #D0C9C0;
    border-radius: 3px;
    padding: 1px;
}

.hl-y-pu{
    color: yellow;
}
.hl-r-pu{
    color: red;
}
.textInfo{
    font-size: 12px;
    line-height: 2.5;
}

#titleInfo{
    font-size: 18px;
    line-height: 3;
}

.labelStart {
    position: absolute;
    left: 50%;
    top: 20px;
    transform: translateY(-50%);
    transform: translateX(-50%);
    height: 450px;
    width: 880px;
}

.startButton {
    position: absolute;
    left: 50%;
    top: 70%;
    transform: translateY(-50%);
    transform: translateX(-50%);
    height: 40px;
    width: 80px;
    color: #8A2BE2;
}

.lbButton {
    position: absolute;
    left: 50%;
    top: 80%;
    transform: translateY(-50%);
    transform: translateX(-50%);
    height: 40px;
    width: 180px;
    color: #8A2BE2;
}

.endBox {
    background: rgb(10, 10, 10);
    width: 500px;
    height: 350px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -120px 0 0 -250px;
    border: 4px solid #8A2BE2;
    border-radius: 10px;
    display: none;
}

.gameover {
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translateY(-50%);
    transform: translateX(-50%);
    height: 20px;
    width: 150px;
}

.finalscore {
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translateY(-50%);
    transform: translateX(-50%);
    height: 40px;
    width: 180px;
    font-size: 30px;
}

.points {
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translateY(-50%);
    transform: translateX(-50%);
    height: 20px;
    width: 80px;
    font-size: 12px;
}

.nameLabel {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateY(-50%);
    transform: translateX(-50%);
    height: 20px;
    width: 200px;
    font-size: 12px;
}

.inputname {
    position: absolute;
    left: 35%;
    top: 55%;
    transform: translateY(-50%);
    transform: translateX(-50%);
    height: 60px;
    width: 150px;

    background-color: rgb(10, 10, 10);
}

#namescore{
    height: 40px;
    font-size: 18px;
    width: 300px;
    background: rgb(10, 10, 10);
    border: 2px solid #8A2BE2;
    color: white;
}

.restartButton {
    position: absolute;
    left: 50%;
    top: 72%;
    transform: translateY(-50%);
    transform: translateX(-50%);
    height: 40px;
    width: 120px;
    color: #8A2BE2;

}

.backToMainButton {
    position: absolute;
    left: 50%;
    top: 86%;
    transform: translateY(-50%);
    transform: translateX(-50%);
    height: 40px;
    width: 120px;
    color: #8A2BE2;

}

.lb {
    background: rgb(10, 10, 10);
    width: 500px;
    height: 600px;
    position: absolute;
    top: 20%;
    left: 50%;
    margin: -120px 0 0 -250px;
    border: 4px solid #8A2BE2;
    border-radius: 10px;
    display: none;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 2px;
    width: 100%;
  }
  .grid-item {
    padding: 12px;
    font-size: 20px;
    text-align: center;
  }

  .backLBButton {
    height: 50px;
    padding: 10px;
    color: #8A2BE2;

}